body {
    font-family: 'Roboto', sans-serif;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 800px;
}
.card_header {
    font-size: 20px;
    font-weight: 700;
}
.card_email {
    color: grey;
    font-weight: 400;
    font-size: 18px;

}
.card_title {
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}
.card_text{
    margin-top: 10px;
    font-size: 16px;
    
}
.delete_btn {
    float: right;
    color: grey;
    font-weight: 700;
    cursor: pointer;
}